body {
    min-width: 100%;
    background: #96855d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #96855d 0%, #e2e0ae 34%, #ffe4bf 56%, #ccc4a9 82%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#96855d), color-stop(34%,#e2e0ae), color-stop(56%,#ffe4bf), color-stop(82%,#ccc4a9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #96855d 0%,#e2e0ae 34%,#ffe4bf 56%,#ccc4a9 82%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #96855d 0%,#e2e0ae 34%,#ffe4bf 56%,#ccc4a9 82%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #96855d 0%,#e2e0ae 34%,#ffe4bf 56%,#ccc4a9 82%); /* IE10+ */
    background: linear-gradient(135deg, #96855d 0%,#e2e0ae 34%,#ffe4bf 56%,#ccc4a9 82%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96855d', endColorstr='#ccc4a9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logo img {
    display: inline-block;
    float: left;
    width: 100px;
}
.logo {
    display: block;
}

h1 {
    padding-top: 3%;
}

.price {
    display: inline-block;
    float: left;
    margin-left: 3%;
}

form {
    position: relative;
    width: 300px;
    margin-left: 60%;
    height: 42px;
  }

input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

  input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid rgb(24, 24, 24);
  }

form button {
    float: right;
    background: rgb(41, 41, 41);
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
}

.fas {
    font-family: FontAwesome;
    font-size: 16px;
    color: rgb(243, 242, 239);
}

.container {
    display: block;
    margin: 0 auto;
    width: 60%;
    background-color: white;
}

.grid_container {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: column;
    
}

.grid_container h2 {
    margin: 5% 0 0 0;
}

figcaption img {
    width: 60%;
}

.grid_item {
    display: grid;
    outline: 1px solid rgb(179, 177, 177);
    padding: 5% 0% 0 5%;
}
.grid_button {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    width: 50%;
}

.grid_button button {
    width: 100%;
    height: 200%;
    padding: 0;
    border-radius: 15px;
    background-color: black;
    color: white;
    outline: none;
}

.grid_item span {
    margin-top: 2%;
}

.grid_item p {
    display: block;
    width: 80%;
}

.clear {
	clear: both;
}